
body {
    height: 100vh;
    
    background-color: rgb(128, 128, 128)
   
}
main {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 10px #4CAF50 solid;
    border-left: 10px #4CAF50 solid;
    
}
#stan, #confidence, #result  {
    margin: 0;
    

    font-size: 5rem;
    font-family: 'Righteous', cursive;
    text-align: center;

    
}
#stan {
    background-color: rgb(123, 255, 127);
}

#result {
    
    background-color: rgb(111, 230, 115);
}
#confidence {
    
    background-color: rgb(101, 212, 105);
}
#button1 {
    font-family: 'Righteous', cursive;
    background-color: #4CAF50; 
    border: none;
    color: white;
    width:100%;
    height: 10vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4em;
}
#button1:hover {
    font-family: 'Righteous', cursive;
    background-color: rgb(184, 184, 184); 
    color: rgb(255, 255, 255);
    border: none;
    width:100%;
    height: 10vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4em;
};
#button1:active {
    font-family: 'Righteous', cursive;
    background-color: rgb(88, 88, 88); 
    color: rgb(255, 255, 255);
    border: none;
    width:100%;
    height: 10vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4em;
};
#button1:visited {

    outline:none;
 
};