{% extends 'base.html' %}
{% block cssy %}
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='./cssy/alexa.css')}}">
{% endblock %}
{% block content %}

    <main>
        <div id="stan">Rozpocznij nasłuchiwanie</div>
        <div id="result"></div>
        <div id="confidence"></div>
        <div id="button">
            <input type="button" id="button1" value='>>Rozpocznij<<'>
        </div>
        
    </main>
    {% endblock %}
    {% block scripts %}
    <script src="{{ url_for('static', filename='skills.js') }}"></script>
    <script src="{{ url_for('static', filename='alexa.js') }}"></script>
    
    {% endblock %}
